{% extends "base.html" %}

{% block scripts %}
{{super()}}

<script type="text/javascript">
 $(document).ready(function() {
     sparqlToDataTable(`{{employees_and_affiliates|safe}}`, "#employees-and-affiliated");
     sparqlToDataTable(`{{topics|safe}}`, "#topics", {
	 linkPrefixes:{
	     "topic": "../topic/",
	     "samplework": "../work/",
	 }});
     sparqlToDataTable(`{{recent_publications|safe}}`, "#recent-publications");
     sparqlToDataTable(`{{recent_citations|safe}}`, "#recent-citations");
     sparqlToDataTable(`{{awards|safe}}`, "#awards");
     sparqlToDataTable(`{{gender_distribution|safe}}`, "#gender-distribution");
 });
</script>


{% endblock %}




{% block page_content %}

<h1 id="h1">Organization</h1>

<div id="intro"></div>

<div id="wembedder"></div>


<h2 id="Employees-and-affiliated">Employees and affiliated</h2>

Past and present employees, affiliated, and members<br/>

<table class="table table-hover" id="employees-and-affiliated"></table>


<h2 id="Co-author-graph">Co-author graph</h2>

<div class="embed-responsive embed-responsive-4by3">
    <iframe loading="lazy" class="embed-responsive-item" src="https://query.wikidata.org/embed.html#{{co_authors|safe}}"></iframe>
</div>


<h2 id="Co-author-graph">Advisor graph</h2>

<div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="https://query.wikidata.org/embed.html#{{advisors|safe}}"></iframe>
</div>


<h2 id="Topics that employees and affiliates have published on">Topics that employees and affiliates have published on</h2>

Topics of publications by past and present employees, affiliates, and members, ranked by number of individuals having published on the topic.<br/>

<table class="table table-hover" id="topics"></table>

<h2 id="Recent-publications">Recent publications <a href="{{ url_for('app.show_organization_empty') }}{{ q }}/latest-works/rss"><img height="24" width="48" src="{{ url_for('static', filename='images/rss-40674_320.png') }}" alt="RSS icon" /></a></h2>

<table class="table table-hover" id="recent-publications"></table>


<h2 id="Page-production">Page production</h2>

Page production per year per author.
The number of pages for a multiple-author paper is distributed among
the authors.
The statistics is only for papers where the "number of pages" property
has been set.

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://query.wikidata.org/embed.html#{{page_production|safe}}"></iframe>
</div>


<h2 id="Citations">Citations</h2>

<h3 id="Recent-citations">Recent citations</h3>

<table class="table table-hover" id="recent-citations"></table>


<h3>Most cited papers with affiliated first author</h3>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://query.wikidata.org/embed.html#{{most_cited_papers|safe}}"></iframe>
</div>


<h3>Co-author-normalized citations per year</h3>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://query.wikidata.org/embed.html#{{normalized_citations|safe}}"></iframe>
</div>


<h2 id="Awards">Awards</h2>

<table class="table table-hover" id="awards"></table>


<h2 id="Gender-distribution">Gender distribution</h2>

Count of the number of researchers wrt. gender.

<table class="table table-hover" id="gender-distribution"></table>


{% endblock %}
